* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
	min-height: 100%;
}

.form_field{
  padding-top: 0.9rem !important;
}

/* .button-sticky {
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
} */